.home{
    background-color: var(--bg-light);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-smoke);
    background-image: url('../assets/images/picklepalsbg.jpeg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.home_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 98rem;
    width:90%;
}
.home-logo{
    width: 50%;
    margin-bottom: 4rem;
    color: var(--light-green);
    font-family: 'Modak', cursive;
    font-size: 7vw;
    -webkit-text-stroke: 5px var(--black); 
   
}

h1{
    font-weight: 700;
    font-size: 4rem;
    font-weight: bolder;

}
.home_hero-text{
    font-size: 2.95rem;
    margin: 2rem 0 6rem 0;
}
.have-acct{
    font-size: 1.5rem;
    margin-top: 2rem;
}
.have-acct span{
    text-decoration: underline;
    text-underline-offset: 3px;
    font-weight: bold;
}
.have-acct .home-login a{
    color: var(--white-smoke);
   
}
@media(max-width:425px){
    .home-logo{
        width: 100%;
        margin-bottom: 4rem;
        font-size: 10vw;
        -webkit-text-stroke: 3px var(--black); 
        
    }
  
    h1{
        font-size: 2.5rem;
    }
    .home_hero-text{ 
        font-size: 1.5rem;
    }
}