.invites{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.invites_title{
    font-weight: 700;
    font-size: 2rem;    
}
table{

    width: 100%;
}
tbody{
    border-right: 2px solid var(--black);
    width: 100%;
}
.seeking-td{
    border-right: 2px solid var(--black); 
}
tr,td{
    border: 1px solid var(--black);    
}
.custom-table tr td img{
    margin: 0;
    padding: 0;
    width: 3rem;
    margin-right: .5rem;
}
td{
    padding: .1rem 0 .1rem .5rem;
}
.invite-name{
    font-weight: 700;
    color: var(--green);
}