/* COLOR VARIABLES */
:root{
  --green:#5EB05E;
  --bg-light:#F5F5F5;
  --white-smoke:#FDFDFD;
  --black:#212121;
  --grey:#8B8B8B;

}
#root{
  background-color: var(--bg-light);
  width: 100%;
  min-height: 100vh;
}

*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
html{
  font-size: 62.5%;
}
body{
  
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.5;
}
.bottom-border{
  border-bottom: 2px solid black;
}

a{
  color: black;
  text-decoration: none;
}

@media(max-width:725px){
  .bottom-border{
    border-bottom: 1px solid black;
}
}
@media(max-width:425px){
  html{
    font-size: 50%;
  }
}