/* COLOR VARIABLES */
:root{
  --green:#5EB05E;
  --light-green:#91CB91;
  --bg-light:#F5F5F5;
  --white-smoke:#FDFDFD;
  --black:#212121;
  --grey:#8B8B8B;
  --light-grey:#D9D9D9;
  --profile-green:#91CB91;
  
  
  

}
html{
  font-size: 62.5%;
  overflow: hidden;
}
#root{
  background-color: var(--bg-light);
  max-width: 100%;
  height: 100vh;
}


*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body{
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.5;
 height: 100%;
}
.bottom-border{
  border-bottom: 2px solid black;
}

a{
  color: black;
  text-decoration: none;
}
.logo a{
  color: var(--light-green);
  font-family: 'Modak', cursive;
  -webkit-text-stroke: 5px var(--black);   
}
h2{
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}
h3{
font-weight: 700;
font-size: 3rem;
margin-bottom: 2rem;
}
.error-message{
  color: red;
}
.auth-page{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.width{
  max-width: 40rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media(max-width:725px){
  .bottom-border{
    border-bottom: 1px solid black;
}
}
@media (max-width:650px){
    h2{
      font-size: 3rem;
    }
    h2{
      font-size: 6vw;
    }
}
@media(max-width:425px){
  html{
    font-size: 50%;
  }

 }
 